@keyframes tarot-scroll {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -50%;
  }
}

.tarot-voznja {
  animation: tarot-scroll 10s linear infinite; /* ubrzano 2x */
  background-size: auto 100%;
  background-repeat: repeat-x;
}